html {
  font-family: sans-serif;
  line-height: 1.5;
  color: #333;
}

body {
  margin: 0 auto
}

label,
input {
  display: block;
  margin: 5px 0;
}

form#loginForm,
form#registrationForm {
  margin: 20px 0;
  max-width: 500px;
  margin: 0 auto;
}

.btn-center {
  display: block;
  margin: 0 auto;
}